body {
    font-family: "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.85em;
    color: #787878;
    background-color: #fff;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 46px;
    font-weight: 300;
}

h2 {
    font-size: 22px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    color: #000;
    line-height: 1.3em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #5677fc;
}

a,
p a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:hover,
p a:hover {
    color: #5677fc;
}

p {
    margin: 10px 0;
}