/* ==========================================================================
   Blog List widget style - begin
   ========================================================================== */

.widget {

    &.mkd-blog-list-widget {
        margin: 0 0 20px;

        .mkd-bl-simple {

            .mkd-bli-content {
                padding-left: 18px;
                padding-top: 8px;
            }

            ul {
                padding-top: 20px;
            }

        }
        .mkd-post-image {
            width: 85px;
            overflow: hidden;
        }

        .mkd-post-title {
            font-size: 14px;
            font-weight: 500;

            a {
                color: inherit !important; //important rule to override default widget style in all cases
                font-weight: inherit !important; //important rule to override default widget style in all cases
                font-size: inherit !important; //important rule to override default widget style in all cases

                &:hover {
                    color: $first-main-color !important;
                }
            }
        }

        .mkd-post-info-date {

            .mkd-post-info-date-icon {
                display: none;
            }

            a {
                color: $additional-text-color;
                font-weight: 400;

                &:hover {
                    color: $first-main-color;
                }
            }
        }

        .mkd-bl-simple .mkd-bli-content .mkd-post-info-date a {
            color: $additional-text-color;
            font-weight: 400;
        }

        .mkd-bl-simple .mkd-post-image {
            width: 81px;

            &:hover {
                + .mkd-bli-content> .mkd-post-title>a {
                    color: $first-main-color !important;
                }
            }
        }
    }
}

/* ==========================================================================
   Blog List widget style - end
   ========================================================================== */