/* ==========================================================================
   Image with Text over widget style - begin
   ========================================================================== */

.widget.mkd-image-with-text-over-widget {
	@include mkdRelativeHolderLayout();

	.mkd-iwto-content-holder {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		padding: 7%;
	}
}

/* ==========================================================================
   Image with Text over widget style - end
   ========================================================================== */

