/* ==========================================================================
   Default WordPress widgets styles - begin
   ========================================================================== */

.widget {
    margin: 0 0 $widget-bottom-margin;
    padding: 0;
    background-color: $widget-background-color;
    border: 0;
    color: $widget-text-color;
    font-size: $widget-text-size;
    line-height: $widget-line-height;

    &:last-child {
        margin-bottom: 0;
    }

    .mkd-widget-title-holder {
        margin: $widget-title-margin;

        .mkd-widget-title {
            margin: 0;
            color: $widget-heading-color;
        }

        .mkd-separator {
            border-color: $widget-text-color;
            border-bottom-width: 3px;
            width: 30px;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            color: $list-item-color;
            font-size: $list-item-size;
            font-weight: $list-item-weight;
            border: 0;
            display: block;
            line-height: $widget-list-item-height;
            margin: 0;
            padding: $widget-list-item-padding 0;

            &:last-child {
                border: 0;
                padding-bottom: 2px;
            }

            a {
                color: $widget-link-color;
                font-size: $widget-link-size;
                font-weight: $widget-link-weight;

                &:hover {
                    color: $widget-link-hover-color;
                }
            }
        }

        .children,
        .sub-menu {
            margin-top: $widget-list-item-padding;
            padding-left: 15px
        }
    }

    // widgets with lists and animation on link hover
    &.widget_pages,
    &.widget_archive,
    &.widget_categories,
    &.widget_meta,
    &.widget_recent_entries {

        ul {

            li {
                overflow: hidden;

                a {
                    display: inline;
                    overflow: hidden;
                    padding: 0;
                    position: relative;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: -2px;
                        border-bottom: 2px solid $widget-link-hover-color;
                        opacity: 0;
                        transform-origin: 100% 50%;
                    }
                    &:before {
                        @include mkdTransform(scaleX(0));
                        transform-origin: 0 50%;
                        -webkit-transition: transform 0s .2s;
                        -moz-transition: transform 0s .2s;
                        transition: transform 0s .2s;
                    }

                    &:after {
                        @include mkdTransform(scaleX(0));
                        opacity: 0;
                        -webkit-transition: transform .2s,opacity 0s .2s;
                        -moz-transition: transform .2s,opacity 0s .2s;
                        transition: transform .2s,opacity 0s .2s;
                    }

                    &:hover {
                        color: $widget-link-hover-color;

                        &:before {
                            @include mkdTransform(scaleX(1));
                            opacity: 1;
                            @include mkdTransition(all .2s ease-in-out);
                        }

                        &:after {
                            @include mkdTransform(scaleX(1));
                            opacity: 1;
                            @include mkdTransition(all 0s .2s);
                        }
                    }
                }
            }
        }
    }

    &.widget_nav_menu ul.menu {
        > li {
            overflow: hidden;
            a {
                display: inline;
                overflow: hidden;
                padding: 0;
                position: relative;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -5px;
                    border-bottom: 2px solid $widget-link-hover-color;
                    opacity: 0;
                    transform-origin: 100% 50%;
                }
                &:before {
                    @include mkdTransform(scaleX(0));
                    transform-origin: 0 50%;
                    -webkit-transition: transform 0s .2s;
                    -moz-transition: transform 0s .2s;
                    transition: transform 0s .2s;
                }

                &:after {
                    @include mkdTransform(scaleX(0));
                    opacity: 0;
                    -webkit-transition: transform .2s,opacity 0s .2s;
                    -moz-transition: transform .2s,opacity 0s .2s;
                    transition: transform .2s,opacity 0s .2s;
                }

                &:hover {
                    color: $widget-link-hover-color;

                    &:before {
                        @include mkdTransform(scaleX(1));
                        opacity: 1;
                        @include mkdTransition(all .2s ease-in-out);
                    }

                    &:after {
                        @include mkdTransform(scaleX(1));
                        opacity: 1;
                        @include mkdTransition(all 0s .2s);
                    }
                }
            }

            &.menu-item-has-children {
                > a {
                    &:hover {
                        &:after,
                        &:before {
                            @include mkdTransform(scaleX(0));
                        }
                    }
                }

                > ul.sub-menu > li.menu-item-has-children>a {
                    &:hover {
                        &:before,
                        &:after {
                            @include mkdTransform(scaleX(0));
                        }
                    }
                }
            }


        }
    }

    &.widget_recent_entries ul li a {
        &:before,
        &:after {
            opacity: 0;
        }
        &:hover {
            &:after,
            &:before {
                opacity:0;
            }
        }
    }



    // widgets with lists and w/o animation on link hover
    &.widget_recent_comments,
    &.widget_rss {

        .mkd-widget-title {
            margin-bottom: 0;
        }
    }

    // calendar
    #wp-calendar {
        text-align: center;
        width: 100%;

        caption {
            margin: 0 0 $widget-list-item-padding;

        }

        th, td {
            padding: 3px 4px;
        }

        td#today {
            color: $first-main-color;
            background-color: $widget-list-item-background-color;
        }

        tfoot a {
            color: $widget-link-color;

            &:hover {
                color: $widget-link-hover-color;
            }
        }
    }

    // rss
    &.widget_rss {

        .rss-widget-icon {
            display: inline-block;
        }

        .rss-date {
            display: block;
            margin-bottom: $widget-list-item-padding;
        }

        cite {
            display: block;
            margin-top: calc(#{$widget-list-item-padding} / 2);
        }
    }

    // search
    &.widget_search {

        .input-holder {
            border-color: $widget-list-item-border-color;
            border-style: $widget-list-item-border-style;
            border-width: $widget-list-item-border-width;

            input,
            button {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                box-sizing: border-box;
                color: $widget-text-color;
                display: inline-block;
                float: left;
                font-family: $default-text-font;
                font-size: 15px;
                font-weight: inherit;
                height: $widget-search-form-height;
                line-height: calc(#{$widget-search-form-height} - 2px);
                outline: 0;
                position: relative;
                vertical-align: top;
                -webkit-appearance: none;

                @include mkdTransition(color .2s ease-in-out);
            }

            input.search-field {
                width: calc(100% - #{$widget-search-form-height});
                padding: 0 0 0 21px;

                @include mkdPlaceholder {
                    color: $widget-text-color;
                }
            }

            button {
                background: transparent;
                color: $widget-heading-color;
                cursor: pointer;
                font-size: 20px;
                padding-top: 4px;
                width: $widget-search-form-height;

                @include mkdTransition(color .2s ease-in-out);

                &:hover {
                    color: $widget-link-hover-color;
                }

                span {
                    display: block;
                    left: 0;
                    line-height: inherit;
                    position: absolute;
                    top: 0;
                    width: 100%;

                    &:before {
                        display: block;
                        line-height: inherit;
                    }
                }
            }
        }
    }

    // search post type
    &.mkd-search-post-type-widget {
        .mkd-post-type-search-field {
            border-radius: 3px;
            border-color: $widget-list-item-border-color;
            border-style: $widget-list-item-border-style;
            border-width: $widget-list-item-border-width;
            background-color: transparent;
            box-sizing: border-box;
            color: $widget-text-color;
            display: inline-block;
            float: left;
            font-family: $default-text-font;
            font-size: 12px;
            font-weight: inherit;
            height: $widget-search-form-height;
            line-height: calc(#{$widget-search-form-height} - 2px);
            outline: 0;
            position: relative;
            vertical-align: top;
            -webkit-appearance: none;
            padding: 0 25px 0 20px;
            width: 100%; /* width of loading icon */

            @include mkdTransition(color .2s ease-in-out);

            @include mkdPlaceholder {
                color: $widget-text-color;
            }
        }
    }

    // combobox
    &.widget_archive,
    &.widget_categories,
    &.widget_text {

        select {
            background-color: transparent;
            border-color: $widget-list-item-border-color;
            border-style: $widget-list-item-border-style;
            border-width: $widget-list-item-border-width;
            border-radius: 0;
            box-sizing: border-box;
            color: $widget-text-color;
            display: inline-block;
            font-family: $default-text-font;
            font-size: 15px;
            font-weight: inherit;
            height: $widget-search-form-height;
            line-height: calc(#{$widget-search-form-height} - 2px);
            margin-top: $widget-list-item-padding;
            outline: 0;
            padding: 0 0 0 21px;
            position: relative;
            vertical-align: top;
            width: 100%;

            @include mkdTransition(color .2s ease-in-out);

            option {
            }
        }
    }

    // tag cloud
    &.widget_tag_cloud {
        .tagcloud {
            margin-top: 27px;
        }

        a {
            border-radius: 2px;
            color: $widget-text-color;
            display: inline-block;
            font-family: $default-text-font;
            font-weight: 400;
            line-height: $widget-tag-cloud-height;
            margin: 0 6px 7px 0;

            &:hover {
                color: $widget-link-hover-color;
            }
        }
    }
}