/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener,
.mkd-light-header .mkd-top-bar .mkd-side-menu-button-opener {
  color: #fff !important;
}

.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener.opened, .mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener:hover,
.mkd-light-header .mkd-top-bar .mkd-side-menu-button-opener.opened,
.mkd-light-header .mkd-top-bar .mkd-side-menu-button-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener,
.mkd-dark-header .mkd-top-bar .mkd-side-menu-button-opener {
  color: #000 !important;
}

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener.opened, .mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-side-menu-button-opener:hover,
.mkd-dark-header .mkd-top-bar .mkd-side-menu-button-opener.opened,
.mkd-dark-header .mkd-top-bar .mkd-side-menu-button-opener:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mkd-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.mkd-side-menu-button-opener .mkd-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.mkd-side-menu-button-opener .mkd-side-menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
  -moz-transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
  transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
}

.mkd-side-menu-button-opener .mkd-side-menu-icon span {
  display: block;
  line-height: inherit;
}

.mkd-side-menu-button-opener .mkd-side-menu-icon span:before {
  display: block;
  line-height: inherit;
}

.mkd-side-menu-button-opener .mkd-side-menu-icon:after {
  position: absolute;
  content: "\e059";
  font-family: "dripicons-v2" !important;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
  -moz-transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
  transition: transform 0.35s cubic-bezier(0.53, 0.01, 0.18, 1);
}

.mkd-side-menu-button-opener .mkd-side-menu-icon:hover {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.mkd-side-menu-button-opener.opened, .mkd-side-menu-button-opener:hover {
  color: #5677fc;
}

.mkd-side-menu {
  position: fixed;
  top: 0;
  right: -405px;
  width: 405px;
  height: 100%;
  min-height: 100%;
  padding: 66px 65px 36px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.mkd-side-menu .mkd-sidearea-top-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkd-side-menu .mkd-sidearea-top-bottom-holder .mkd-sidearea-top-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mkd-side-menu .mkd-sidearea-top-bottom-holder .mkd-sidearea-bottom-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mkd-side-menu .mkd-close-side-menu-holder {
  position: absolute;
  top: 19px;
  right: 20px;
  z-index: 1000;
}

.admin-bar .mkd-side-menu .mkd-close-side-menu-holder {
  top: 68px;
}

.mkd-side-menu a.mkd-close-side-menu {
  display: block;
  color: #000;
  font-size: 22px;
  z-index: 1000;
  transition: color .25s ease-in-out;
}

.mkd-side-menu a.mkd-close-side-menu:hover {
  color: #5677fc;
}

.mkd-side-menu a.mkd-close-side-menu span {
  display: block;
  line-height: inherit;
}

.mkd-side-menu a.mkd-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.mkd-side-menu-slide-from-right.mkd-right-side-menu-opened .mkd-wrapper .mkd-cover {
  z-index: 3000;
}

.mkd-side-menu-slide-from-right.mkd-right-side-menu-opened .mkd-side-menu {
  right: 0;
  visibility: visible;
}

.mkd-side-menu-slide-from-right .mkd-wrapper .mkd-cover {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/sidearea-map.css.map */
