@include laptop-landscape-large {
    .mkd-404-page {
        .mkd-page-not-found{
          padding: 27% 13% 5%;
        }
    }
}

@include laptop-landscape-medium {
    .mkd-404-page {
        .mkd-page-not-found{
            padding: 24% 9% 5.5%;
        }
    }

    .mkd-comment-form {
        #respond {
            form.comment-form {
                input {

                    &[type=text] {
                        width: 32%;
                        margin: 0 9px 10px 0;
                    }

                    &:nth-child(4) {
                        margin-right: 0;
                    }

                }
                textarea {
                    margin-bottom: 7px;
                }
            }
        }
    }
}

@include ipad-landscape {
    .mkd-404-page {
        .mkd-page-not-found{
            padding: 40.5% 3% 6%;
        }
    }

    .mkd-comment-form {
        #respond {
            form.comment-form {
                input {

                    &[type=text] {
                        width: 32.2%;
                    }

                }

            }
        }
    }

}

@include ipad-portrait {
    .mkd-404-page {
        .mkd-page-not-found{
            padding: 62% 0 13%;
        }
    }

    .mkd-comment-form {
        #respond {
            form.comment-form {
                input[type=text] {
                    width: 100%;
                }

                textarea {
                    margin-bottom: 3px;
                }
            }
        }
    }
}

@include phone-landscape {

    .mkd-comment-holder {

        .mkd-comment-list {

            .children {
                padding: 0;
            }
        }

        .mkd-comment-text {

            .mkd-comment-date,
            .mkd-comment-name {
               float: none;
            }

            .replay,
            .comment-reply-link,
            .comment-edit-link {
                float: none;
                margin: 0 10px 0 0;
            }
        }
    }
}

@include phone-portrait {
    .mkd-404-page {
        .mkd-page-not-found{
            padding: 9.5% 9% 15%;

            .mkd-404-title,
            .mkd-404-text {
                width: 90%;
            }
            .mkd-404-title {
                margin: 25px auto 24px;
            }
        }
    }

    .mkd-comment-holder {

        .mkd-comment-image {
            float: none;
        }

        .mkd-comment-text {
            padding: 20px 0 0;
            min-height: inherit;
        }
    }
}