@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.mkd-comment-holder {
    @include mkdRelativeHolderLayout();
    padding: 0;
    box-sizing: border-box;

    .mkd-comment-holder-inner {
        padding: 8px 0 20px;
    }

    .mkd-comment {

        &.mkd-pingback-comment {

            .mkd-comment-text {
                padding: 0;
            }
        }
    }

    .mkd-comment-list {
        list-style: none;
        position: relative;
        z-index: 150;
        padding: 0;
        margin: 0;

        li {
            @include mkdRelativeHolderLayout();
            margin: 0;
            padding: 18px 0 0;
        }

        > li:first-child {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .children {
            padding: 0 0 0 100px;
        }
    }

    .mkd-comments-title {
        margin-bottom: 44px;

        > * {
            margin: 0;
        }
    }

    .mkd-comment-image {
        position: relative;
        display: block;
        top: 10px;
        left: 0;
        width: 82px;
        height: 82px;
        float: left;

        img {
            display: block;
            border-radius: 4em;
        }
    }

    .mkd-comment-text {
        padding: 0 0 0 108px;
        min-height: 82px;

        .mkd-comment-info {
            @include mkdRelativeHolderLayout();
            margin: 6px 0 7px;
            width: auto;
        }

        .replay,
        .comment-reply-link,
        .comment-edit-link {
            position: relative;
            float: left;
            font-size: 12px;
            color: $first-main-color;
            font-weight: 500;

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 2px;
                border-bottom: 2px solid #97a8fd;
                opacity: 0;
                @include mkdTransformOrigin(100% 50%);
            }

            &:before {
                @include mkdTransform(scaleX(0));
                @include mkdTransformOrigin(0 50%);
                -webkit-transition: transform .0s .2s;
                -moz-transition: transform .0s .2s;
                transition: transform .0s .2s;

            }

            &:after {
                @include mkdTransform(scaleX(0));
                opacity: 0;
                -webkit-transition: transform .2s, opacity .0s .2s;
                -moz-transition: transform .2s, opacity .0s .2s;
                transition: transform .2s, opacity .0s .2s;
            }

            &:hover {
                color: $first-main-color;
                &:before {
                    opacity: 1;
                    @include mkdTransform(scaleX(1));
                    @include mkdTransition(all .2s ease-in-out);
                }

                &:after {
                    opacity: 1;
                    @include mkdTransform(scaleX(1));
                    @include mkdTransition(all 0s .2s);
                }
            }
        }

        .comment-edit-link {
            margin-left: 20px;
            text-transform: capitalize;

        }

        .mkd-comment-name {
            float: left;
            margin: 0;
        }

        .mkd-comment-date {
            display: inline-block;
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            vertical-align: middle;
            color: #b5b5b5;
            padding-left: 4px;
        }

        .mkd-text-holder p {
            margin: 7px 0;
        }

        .comment-respond {
            margin: 20px 0;

            .comment-reply-title {
                margin: 0 0 10px;
                font-size: 14px;
            }

            .logged-in-as {
                margin: 0 0 8px;
            }
        }

        #cancel-comment-reply-link {
            margin-left: 10px;
            font-size: 12px;
            color: $first-main-color;

            &:hover {
                color: $default-heading-color;
            }
        }

        ul, ol {

            li {
                display: list-item;
            }
        }

        li {
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
        }
    }
}

@include ipad-portrait {

    .mkd-comment-holder {

        .mkd-comment-list {

            .children {
              padding: 0 0 0 40px;
            }
        }
    }
}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

%input-style {
    width: 100%;
    margin: 0 0 15px;
    padding: 16px 24px 15px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
    color: $default-heading-color;
    background-color: transparent;
    border: 1px solid $default-border-color;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    cursor: auto;
    box-sizing: border-box;
    @include mkdTransition(border-color 0.2s ease-in-out);

    &:focus {
        color: $default-heading-color;
    }

    @include mkdPlaceholder {
        color: inherit;
    }
}

#respond textarea,
#respond input[type='text'],
input[type='text'],
input[type='email'],
input[type='password'],
.post-password-form input[type='password'] {
    @extend %input-style;
}

input[type=checkbox] {
    visibility: hidden;
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

input[type=checkbox]:after {
    content: '';
    visibility: visible;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include mkdTransform(translate(-50%,-50%));
    background-image: url('../img/checkbox.png');
    background-position: 0 0;
}

input[type=checkbox]:checked:after {
    background-position: 14px 0;
}

#respond textarea {
    display: block;
    width: 100%;
    padding: 15px 24px;
}

#respond input[type='text'] {
    display: block;
    width: 50%;
}

p.form-submit {
    margin-top: 7px;
}

#submit_comment,
.post-password-form input[type='submit'] {
    @include mkdButtonDefaultStyle();
    @include mkdButtonMediumParams();
    @include mkdButtonSolidColor();
    padding: 12px 32px 13px;
    border: none;
    cursor: pointer;

    &:hover {
        @include mkdButtonSolidHoverColor();
    }
}
#submit_comment {
    border-radius: 2em;
}

%cf7-input-style {
    width: 100%;
    margin: 0 0 15px;
    padding: 9px 18px;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: inherit;
    color: $default-text-color;
    background-color: transparent;
    border: 1px solid $default-border-color;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;

    &:focus {
        color: $default-heading-color;
        background-color: #fff;
    }

    @include mkdPlaceholder {
        color: inherit;
    }
}

.wpcf7-form-control {
    &.wpcf7-text,
    &.wpcf7-number,
    &.wpcf7-date,
    &.wpcf7-textarea,
    &.wpcf7-select,
    &.wpcf7-quiz {
        @extend %cf7-input-style;

        footer & {
            margin: 0;
        }

        &:focus {
            border-color: #41c4fd;
        }
    }
}

input.wpcf7-form-control.wpcf7-submit {
  @include mkdButtonDefaultStyle();
  @include mkdButtonMediumParams();
  @include mkdButtonSolidColor();
  cursor: pointer;
  border: none;

  &:hover {
    @include mkdButtonSolidHoverColor();
  }
}

.wpcf7-form p {
  margin: 0;
}

.wpcf7-form textarea {
  vertical-align: middle;
}

.mkd-two-columns-form-without-space {

  .wpcf7-form .ajax-loader {
    display: none;
  }
}

.mkd-comment-form {
    padding: 0;
    clear: both;
    box-sizing: border-box;

    .mkd-comment-form-inner {
        padding: 27px 0 31px;
        margin: 0 -15px;
    }

    .comment-reply-title {
        margin: 0 0 53px;
    }

    .logged-in-as {
        margin: 0 0 8px;
    }
    #respond {
        padding: 0 15px;
        form.comment-form {
            textarea,
            input[type='text'],
            input[type='text'],
            input[type='email'],
            input[type='password'],
            .post-password-form input[type='password'] {
                width: 32%;
                margin: 0 12px 10px 0;
                display: inline-block;
                border-radius: 0;
                box-shadow: none;
                font-size: 12px;
                line-height: 1em;
                color: $default-text-color;
            }
            textarea {
                width: 100%;
            }

            input:nth-child(4) {
                margin-right: 0;
            }

        }
    }
}

//footer newsletter form
.mkd-newsletter-footer {
    padding-top: 8px;
    height: 50px;
    span.wpcf7-form-control-wrap {
        display: block;
        float: left;
        width: calc(100% - 50px);
        height: 50px;
        background-color: transparent;
    }

    .ajax-loader {
        display: none;
    }
    input[type=email] {
        padding: 0;
        padding-left: 20px;
        background-color: rgba(34, 34, 37, 0.3);
        line-height: 50px;
        height: 50px;
        outline: 0;
        margin: 0;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        -webkit-appearance: none;
        border: 1px solid $first-main-color;
        border-right: none;
        color: #fff;
        @include mkdTransition(all .15s ease-in-out);

        &:focus {
          border-right: none;
        }

        &::-webkit-input-placeholder {
          font-size: 12px;
          text-transform: none;
          font-weight: normal;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          font-size: 12px;
          text-transform: none;
          font-weight: normal;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 12px;
          font-weight: normal;
          text-transform: none;
        }

        &:-ms-input-placeholder {
          font-size: 12px;
          font-weight: normal;
          text-transform: none;
        }
    }

    .mkd-submit-icon {
        position: relative;
        overflow: hidden;
        display: inline-block;

        i {
            content: "\e094";
            display: inline-block;
            font-family: "dripicons-v2" !important;
            color: #fff;
            font-size: 20px;
            position: absolute;
            font-weight: 500;
            left: 50%;
            top: 50%;
            @include mkdTransform(translate(-50%, -50%));
        }
    }

    input.wpcf7-form-control.wpcf7-submit {
        float: left;
        font-weight: 500;
        width: 50px;
        height: 50px;
        line-height: normal;
        font-size: 20px;
        background-color: $first-main-color;
        color: #fbfbfc;
        font-family: "dripicons-v2" !important;
        text-align: center;
        border: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        -webkit-appearance: none;
        border-radius: 0;
        margin-top: 0;

        &:hover {
          background-color: #3e71fa;
        }

    }
}

//Coming Soon newsletter

.mkd-newsletter-coming-soon {

    .mkd-column-left {
        &:before {
            font-family: "dripicons-v2" !important;
            content: '\26';
            position: absolute;
            height: 22px;
            top: 18px;
            left: 28px;
            z-index: 9999;
            font-size: 22px;
            font-weight: 300;
            line-height: 1em;
            color: $additional-text-color;

        }

        input {
            position: relative;
            margin: 0;
            padding:9px 47px;


        }
    }

    .mkd-column-right {
        input.wpcf7-form-control.wpcf7-submit {
            border-radius: 0;
        }
    }

}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Global Owl Slider - begin
   ========================================================================== */
.mkd-owl-slider {
    visibility: hidden;

    .owl-stage-outer {
       z-index: 1;
    }

    &.mkd-slider-is-moving {

        .owl-item {

            .mkd-block-drag-link {
                z-index: -1 !important;
            }
        }
    }

    &.mkd-slider-has-both-nav {

        .owl-nav {

            .owl-prev,
            .owl-next {
                $pos: calc(-50% - 21px); // 21 is is half height of pagination control + top margin
                @include mkdTransform(translateY($pos));
            }
        }
    }

    .owl-nav {

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            z-index: 3;
            color: $default-heading-color;
            @include mkdTransform(translateY(-50%));
            @include mkdTransition(color .2s ease-out);

            > span {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                font-size: 36px;
                line-height: 1;
                color: #c1c0c0;
                //border: 1px solid $default-border-color;


                &:before {
                    display: block;
                    line-height: inherit;
                }
            }
        }

        .owl-prev {
            left: 30px;
        }

        .owl-next {
            right: 30px;
        }
    }

    .owl-dots {
        text-align: center;
        margin: 16px 0 0;

        .owl-dot {
            display: inline-block;
            vertical-align: middle;

            span {
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                margin: 0 3px;
                border-radius: 3em;
                background-color: #bec8f7;
                box-sizing: border-box;
                @include mkdTransition(background-color .2s ease-out, border .2s ease-out);
            }

            &:hover,
            &.active {

                span {
                    background-color: $first-main-color;
                }
            }
        }
    }

    .owl-carousel .owl-item img {
      -webkit-transform: translateZ(0); //chrome text cut off fix
    }
}

/* ==========================================================================
   #Global Owl Slider - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.mkd-404-page {

  &.mkd-wrapper {
      padding: 0 !important;
  }

  .mkd-content {
      height: 100%;
      background-color: #fff;

      .admin-bar & {
          height: calc(100% - 32px);
      }
  }

  .mkd-content-inner {
      position: relative;
      display: table;
      height: 100%;
      width: 100%;
  }

  .mkd-page-not-found {
      position: relative;
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      padding: 26% 20% 6.5%;
      text-align: center;

      .mkd-404-title {
          font-size: 22px;
          width: 50%;
          margin: 57px auto 20px;
      }

      .mkd-404-subtitle {
          margin: 35px 0 0;
      }

      .mkd-404-text {
          width: 50%;
          margin: 0 auto;
      }

      .mkd-btn {
          margin: 30px 0 0;

          &.mkd-btn-light-style {
              color: #585858;
              background-color: #fff;
              border-color: #fff;

              &:hover {
                  color: #fff !important;
                  background-color: transparent !important;
                  border-color: #fff !important;
              }
          }
      }
  }

  @include ipad-portrait {

      .mkd-page-not-found {
          padding: 40px 30px;
      }
  }

  @include phone-landscape {

      .mkd-content {
          height: auto;
          margin: 0 !important;

          .admin-bar & {
              height: auto;
          }
      }
  }
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#mkd-back-to-top {
  position: fixed;
  width: 41px;
  right: 25px;
  bottom: 25px;
  margin: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;

      &.off {
        opacity: 0;
        visibility: hidden;
        @include mkdTransition(opacity 0.15s ease, visibility .0s .15s);
      }

      &.on {
        opacity: 1;
        visibility: visible;
        @include mkdTransition(opacity 0.3s ease);
      }

      > span {
            position: relative;
            display: block;
            width: 39px;
            height: 39px;
            line-height: 40px;
            font-size: 15px;
            text-align: center;
            color: #fff;
            background-color: $first-main-color;
            border: 1px solid $first-main-color;
            border-radius: 50%;
            overflow: hidden;
            @include mkdTransition(color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out);

            i {
                display: inline-block;
                @include mkdTransform(translateY(0));
                -webkit-transition: transform .35s cubic-bezier(.53,.01,.18,1);
                -moz-transition: transform .35s cubic-bezier(.53,.01,.18,1);
                transition: transform .35s cubic-bezier(.53,.01,.18,1);
            }

            &:after {
                position: absolute;
                content: "\57";
                font-family: "dripicons-v2" !important;
                top: 45%;
                left: 50%;
                text-transform: none;
                @include mkdTransform(translate(-50%, 100%));
                -webkit-transition: transform .35s cubic-bezier(.53,.01,.18,1);
                -moz-transition: transform .35s cubic-bezier(.53,.01,.18,1);
                transition: transform .35s cubic-bezier(.53,.01,.18,1);
            }

            &:hover {
                  background-color: #3e71fa;
                  border: 1px solid #3e71fa;

                  &:after {
                      @include mkdTransform(translate(-50%, -50%));
                  }

                  i {
                        @include mkdTransform(translateY(-100%));
                  }
            }
      }

  span span {
        display: block;
        line-height: inherit;
  }
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - begin
   ========================================================================== */
.mkd-self-hosted-video-holder {
  .mkd-video-wrap {
    .mejs-container,
    .mejs-overlay-play {
      height: 100% !important; /*!important because of the inline style*/
      width: 100% !important; /*!important because of the inline style*/
    }
  }
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */