/* ==========================================================================
   Product List Carousel widget style - begin
   ========================================================================== */

.widget.product-list-carousel-widget {
	.mkd-plc-holder .mkd-plc-title {
		margin-top: 15px;
		a {
			color: $default-heading-color;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	.mkd-plc-holder .mkd-plc-item .mkd-plc-rating {
		letter-spacing: 1px;
	}

	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-prev,
	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-next {
		width: 28px;
		height: 28px;
		padding: 0;

		&:hover {
			span {
				color: $first-main-color;
			}
		}
	}

	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-next {
		right: -44px;
	}

	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-prev {
		left: -52px;
	}

	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-next>span,
	.mkd-plc-holder .mkd-owl-slider .owl-nav .owl-prev>span {
		font-size: 18px;
		line-height: 28px;
		position: absolute;
		left: 50%;
		@include mkdTransform(translateX(-50%));
	}
	.mkd-plc-holder {
		.mkd-plc-item {
			.mkd-plc-image-outer {
				&:hover {
					+ .mkd-plc-text-wrapper h6>a {
						color: $first-main-color;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Product List Carousel widget style - begin
   ========================================================================== */